//colors
$border-color: #C4C4C4;
$deep-gray: rgba(24, 25, 27, 0.91);


$gradient-green: linear-gradient(90deg, #077AFB 0%, #32CD32 110%);
$light-green: #32CD32;
$light-gray: #F0F1F2;
$white: #fff;
$black: #000;
$green: #00B784;
$red: #F24F4F;
$reddish: #ED7878;
$orange: #FFC107;
$blue: #077AFB;
$gray: #707070;
$purple: rgba(79, 101, 216, 0.95);;